@{
    ViewBag.Title = "Movie List";
}

@model IEnumerable<Movie>

<div class="text-center">
    <h1 class="display-4">Movie List</h1>
</div>

<div>
    <table id="movies">
        <thead>
            <tr>
                <th>Category</th>
                <th>Title</th>
                <th>Year</th>
                <th>Director</th>
                <th>Rating</th>
                <th>Edited</th>
                <th>Lent To:</th>
                <th>Notes</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Movie m in Model)
            {
                //check if title is Independence Day-- if not, display as normal
                @if (m.Title != "Independence Day")
                {
                    @:<tr>
                        <td>@m.Category</td>
                        <td>@m.Title</td>
                        <td>@m.Year</td>
                        <td>@m.Director</td>
                        <td>@m.Rating</td>
                        //show Yes if edited is true, or No if edited is null or false
                        @if (m.Edited ?? false)
                        {
                            @:<td>Yes</td>
                        }
                        else
                        {
                            @: <td>No</td>
                        }
                        <td>@m.LentTo</td>
                        <td>@m.Notes</td>
                        <td>
                            <a asp-action="EditMovie" asp-route-movieID="@m.MovieID" class="btn btn-outline-secondary">
                                <i class="fa fa-edit"></i>
                            </a>
                        </td>
                        <td>
                            <form asp-action="DeleteMovie" method="post">
                                <input type="hidden" name="movieID" value="@m.MovieID" />
                                <button class="btn btn-danger" type="submit">
                                    <i class="fa fa-times"></i>
                                </button>
                            </form>
                        </td>
                    @:</tr>
                }

            }
        </tbody>
    </table>
</div>